

@media only screen and (min-width: 992px) {
    .campaigndetails__container{
        margin-left:20rem;
    }
    
}

.campaigndetails__container-cypto{
    display: flex;
    flex-wrap: wrap;

}

.campaigndetails__container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.campaigndetails__container-header-text{
    display: flex;
    align-items: center;
    color: #333333;
}

.campaigndetails__container-header-text h4{
    margin-left:0.5rem;
   
}


.campaigndetails__container-header_menu_mobile{
    border-radius: 50%;
    padding:0.5rem;
    background: rgba(72, 209, 137, 0.1);
}




@media only screen and (min-width: 992px) {


    .campaigndetails__container-header_menu_mobile{
       display: none;
    }
    
    }
    