.publicdonation__container {
  display: flex;
  flex-direction: column;
  place-items: flex-start;
}

.publicdonation__container-description img {
  object-fit: contain;
  width: 100%;
}

.publicdonation__container-description-profile__img {
  object-fit: contain;
  width: 10%;
  display: flex;
}

.publicdonation__container-description h4 {
  color: #333333;
}

.publicdonation__container-description p {
  color: #787676;
  line-height: 138.87%;
  display: flex;
  align-items: center;
}

.publicdonation__container-description p > * {
  margin-right: 0.8rem;
}

.publicdonation__container-goal button {
  width: 100%;
  height: 4rem;
  /* outline:none; */
  /* border:none; */
  border-radius: 8px;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.publicdonation__container-goal
  .publicdonation__container-description-button_green {
  background: #48d189;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
}

.publicdonation__container-goal
  .publicdonation__container-description-button_white {
  color: #48d189;
  border: 1.5px solid #e5e9f2;
  background-color: white;
}

.publicdonation__container-description-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.publicdonation__container-description-footer img {
  object-fit: contain;
  width: 17%;
  margin-left: 2%;
}

.publicdonation__container-description-title {
  display: flex;
  align-items: center;
}

.makedontation__container-parent {
  /* display: relative; */
  flex-direction: row;
  margin: 5rem auto auto auto;
  background-color: white;
  padding: 1.2rem 2rem 1rem 2rem;

  width: 30rem;
  border-radius: 10px;
}

.makedontation__container {
  display: flex;
  flex-direction: column;
}

.makedontation__container-head {
  display: flex;
  justify-content: space-between;
}

.makedontation__container h3 {
  color: #333333;
}

.makedontation__container p {
  border: 1px solid #e5e9f2;
  border-radius: 8px;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 0.95em;
  /* padding-left: 1rem; */
}

.makedontation__container input {
  border: none;
  outline: none;
  padding: 1rem;
  width: 100%;
}
.makedontation__container input[type="checkbox"] {
  padding: 0;
  margin: 0;
  width: 10%;
  width: 2.5rem;
  /* margin: 1rem; */
}

.checkbox-round {
  /* width: 1.5rem; */
  height: 1em;
  background-color: white;
  vertical-align: middle;
  border: 1px solid rgb(27, 26, 26);
  background-color: red;
  cursor: pointer;
  border-radius: 50%;
}

.checkbox-round:checked {
  background-color: #48d189;
}

.makedontation__container input::placeholder {
  color: #30324b;
  font-size: 1.1em;
  padding-left: 1rem;
}

.publicdonation__container-makedonation {
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.makedontation__container button {
  background: #48d189;
  border-radius: 8px;
  outline: none;
  border: none;
  height: 2.8rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-size: 700;
  color: white;
}

.publicdonation__container-payment__method {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* background: red; */
  height: 100%;
  width: 100%;
}

.payment__method__container-parent {
  display: relative;
  margin: 15rem auto auto 1rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 1rem;
}

.payment__method__container {
  display: flex;
}

.publicdonation__container-qrcodepayment__method {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* background: red; */
  height: 100%;
  width: 100%;
}

.publicdonation__container-qrcodepayment__method-parent {
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: white;
  margin: 3rem 1rem 1rem 1rem;
  padding: 1.5rem;
  border-radius: 10px 10px 0px 0px;
  color: #787676;
  line-height: 18px;
  /* width:50%; */
}

.publicdonation__container-qrcodepayment__method-parent img {
  width: 50%;
  object-fit: contain;
  padding: 0.7rem;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  border: 1px solid whitesmoke;
}
.publicdonation__container-qrcodepayment__method-input p {
  font-weight: bold;
}
.publicdonation__container-qrcodepayment__method-input_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;

  border: 1px solid #e5e9f2;
  box-sizing: border-box;
  border-radius: 8px;

  color: #30324b;
}

.publicdonation__container-qrcodepayment__method-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.publicdonation__container-qrcodepayment__method-amountrefresh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.publicdonation__container-qrcodepayment__method-amountrefresh-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.publicdonation__container-paymentsuccess{
  position: fixed;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;

}

.publicdonation__container-paymentsuccess-parent{
  margin:15rem auto;
}
@media screen and (max-width: 992px) {
  .publicdonation__container-goal {
    width: 100%;
  }

  .makedontation__container-parent {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .publicdonation__container {
    margin-left: 20rem;
    display: flex;
    flex-direction: row;
  }
  .publicdonation__container-description {
    width: 65%;
    box-shadow: 0px 1px 10px rgba(72, 209, 137, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 2rem;
  }
  .publicdonation__container-goal {
    box-shadow: 0px 1px 10px rgba(72, 209, 137, 0.1);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 2rem 2rem 0rem 0rem;
  }

  .payment__method__container-parent {
    margin: 4rem auto auto 20rem;
    width: 50%;
  }

  .payment__method__container {
    display: flex;
  }

  .publicdonation__container-qrcodepayment__method-parent {
    height: 35rem;
    width: 30rem;
    margin: 3rem auto;
    /* padding:1rem; */
  }

  .publicdonation__container-qrcodepayment__method-parent > * {
    padding: 0;
    margin: 0;
  }
  .publicdonation__container-qrcodepayment__method-parent p{
    font-size: 0.9rem;
}
  .publicdonation__container-qrcodepayment__method-parent img {
    width: 18%;
    font-size: 0.3rem;
  }

  .publicdonation__container-qrcodepayment__method-parent {
    /* font-size:0.6rem; */
  }

  .publicdonation__container-qrcodepayment__method-input_data {
    padding: 0.1rem 1rem;
  }
  .publicdonation__container-qrcodepayment__method-input_data p {
    font-size: 0.9rem;
  }

  
.publicdonation__container-paymentsuccess-parent{
  margin:15rem auto;
}

}
