
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.align__main{
  margin-left:2rem;
  margin-right:2rem;
}

body{
  font-family: 'Mulish', sans-serif;
 /* background-color:whitesmoke; */
}

:root{
  --heading-font:1.2rem;
  --heading-weight:700;
  --heading-color:#333333;
  --paragraph-size:0.9rem;
  
}

.App{
  display: flex;
  flex-direction: row;
}

.app__main{
  width:100%;
}

button:hover{
  cursor: pointer;
  margin:0.5rem;
  transition:0.5s;
  
}

a{
  text-decoration: none;
  outline:none;
}